<div class="form-new mt-4">
  <h1>Add a new Recipe</h1>
  <%= simple_form_for([@category, @bookmark]) do |f| %>
    <%= f.input :comment %>
    <%= f.association :recipe %>
    <%= f.submit class:'btn btn-warning' %>
  <% end %>
</div>
